@import "../parciales/mediaQueries";
/*Grid y estilos de las secciones*/
.contenedor {
    display: grid;
    grid-template: 
        "header header" auto
        "main main" 1fr
        "sec sec" auto
        "footer footer" 100px /
         auto 1fr;

    .header{
        grid-area: header;
    }
    .main{
        grid-area: main;
        background: #FFE7FF;
    }
    .sec{
        grid-area: sec;
        background: #FFE7FF;
    }
    .footer{
        grid-area: footer;
    }
}

