/*Razas*/

/*Main*/

#tituloRazas {
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    margin-top: 20px;
}

.cont{
    width: 100%;
    height: calc(100vh - auto - 100px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 60px;
    &__cartaRaza{
        width: 330px;
        height: 600px;
        border-radius: 8px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        margin: 20px;
        text-align: center;
        transition: all 0.25s;
        &--imagen{
            width: 330px;
            height: 220px;
        }
        &--raza{
            font-size: 2.5rem;
            font-weight: 400;
        }
        &--texto{
            padding: 0 1rem;
            font-size: 1.7rem;
            font-weight: 200;
        }
        &--texto{
            font-size: 1.2rem;
            text-decoration: none;
            color: rgb(64, 84, 197);
        }    
        
        &:hover{
            transform: translateY(-15px);
            box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
        } 
    }
}
